<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheHolidayBlog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header>
      <h1>THE <span class="hot-pink">HOLIDAY BLOG</span></h1>
      <hr />
      <nav class="navbar custom-navbar">
        <form>
          <button class="btn btn-outline-success me-2" type="button">
            Home
          </button>
          <button class="btn btn-outline-primary" type="button">Create</button>
        </form>
      </nav>
    </header>
  </body>
</html>
